name: Build site for nightly

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 * 7-18 * 1-5'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: helsingborg-stad/municipio-deploy/3.0@master
      with:
        deploy-host: ${{ secrets.NIGHTLY_DEPLOY_HOST}}
        deploy-host-path: ${{ secrets.NIGHTLY_DEPLOY_PATH }}
        deploy-host-backup-path: ${{ secrets.NIGHTLY_DEPLOY_BACKUP_PATH }}
        deploy-host-user: ${{ secrets.NIGHTLY_DEPLOY_REMOTE_USER }}
        deploy-host-user-key: ${{ secrets.NIGHTLY_DEPLOY_KEY }}
        deploy-host-web-server-user: ${{ secrets.NIGHTLY_WEB_SERVER_USER }}
        deploy-port:  ${{ secrets.NIGHTLY_DEPLOY_PORT }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        acf-url: ${{ secrets.ACF_URL }}

  zipped-plugins:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: helsingborg-stad/wordpress-plugin-unzipper@main
      with:
        deploy-host: ${{ secrets.NIGHTLY_DEPLOY_HOST }}
        deploy-host-path: ${{ secrets.NIGHTLY_DEPLOY_PATH }}
        deploy-host-user: ${{ secrets.NIGHTLY_DEPLOY_REMOTE_USER }}
        deploy-host-user-key: ${{ secrets.NIGHTLY_DEPLOY_KEY }}
        deploy-host-web-server-user: "litespeed"
        github-token: ${{ secrets.HBG_GH_TOKEN }}
        plugin-repo: ${{ secrets.PAID_PLUGINS_REPO }}
        deploy-port:  ${{ secrets.NIGHTLY_DEPLOY_PORT }}
